In [1]:
#sequence collectio f objects ordered by their position
#python hass 3 basic sequences
#list, tuples and range objects
#there are other ones too

#Sliccig
#eg s[0:2]
# slicing stops before the last number
#this rturns the 0 ad one but not the 2

In [4]:
l=[1,2,3]
l[-0:0]

[]

In [9]:
numbers=[2,4,6,8]

In [10]:
numbers.append(1)

In [11]:
numbers

[2, 4, 6, 8, 1]

In [12]:
x=[12,14,16]

In [13]:
#concantenation
numbers+x

[2, 4, 6, 8, 1, 12, 14, 16]

In [14]:
type(_)

list

In [15]:
numbers=[1,2,3,5,7,11,13,17,19,23]

In [16]:
#list methods are in-place methods.... they modify
#the original list so they wont return anything here
numbers.reverse()

In [27]:
numbers

[23, 19, 17, 13, 11, 7, 5, 3, 2, 1]

In [19]:
names=["Zofia","Alex","Morgan","Anthony"]

In [20]:
names.sort()

In [21]:
names

['Alex', 'Anthony', 'Morgan', 'Zofia']

In [23]:
names.reverse()

In [24]:
#sorted  creates a new list which copies the old list and sorts it
sorted_names=sorted(names)

In [25]:
sorted_names

['Alex', 'Anthony', 'Morgan', 'Zofia']

In [26]:
names

['Zofia', 'Morgan', 'Anthony', 'Alex']

In [35]:
len(names)

4

In [29]:
#Tuples
#Are imutable sequences used to store heterogenous data
T=(1,3,5,7)

In [30]:
len(T)

4

In [31]:
#cocantenation
T+(9,11)

(1, 3, 5, 7, 9, 11)

In [32]:
T[1]

3

In [34]:
x=12.23
y=23.34
#packung a tuple
coordinate=(x,y)

In [36]:
type(coordinate)

tuple

In [37]:
#unpacking a tuple
(c1,c2)=coordinate

In [38]:
c1

12.23

In [39]:
c2

23.34

In [41]:
coordinates=[(0,0),(1,1),(2,4),(3,9),(4,16),(5,35),(6,36)]

In [42]:
for (x,y) in coordinates:
    print (x,y)

0 0
1 1
2 4
3 9
4 16
5 35
6 36

In [43]:
c=(2,3)

In [44]:
#for a tuple with one object,
c=(2,)

In [45]:
type(c)

tuple

In [46]:
x=1,2,3

In [47]:
x.count(3)

1

In [49]:
sum(x)

6

In [51]:
type((2,))

tuple

In [53]:
range(5)

range(0, 5)

In [54]:
list(range(5))

[0, 1, 2, 3, 4]

In [55]:
list(range(1,13,2))

[1, 3, 5, 7, 9, 11]

In [56]:
S="Python"

In [57]:
len(S)

6

In [58]:
S[-3:]

'hon'

In [59]:
"y" in S

True

In [61]:
3*S

'PythonPythonPython'

In [63]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [65]:
str.replace?

Signature: str.replace(self, old, new, count=-1, /)
Docstring:
Return a copy with all occurrences of substring old replaced by new.

  count
    Maximum number of occurrences to replace.
    -1 (the default value) means replace all occurrences.

If the optional argument count is given, only the first count occurrences are
replaced.
Type:      method_descriptor

In [67]:
new_string=S.replace("t","T")

In [68]:
new_string

'PyThon'

In [72]:
x = "125,000"

In [74]:
x.isdigit()

False

In [75]:
#sets are unordered collection of distinct hashable objecs
#can be used for immutble objects
# 2 types 
#1. sets
#2. frozen set- this one is immutable
#does not allow dlicates, all elements are unique

In [77]:
ids = set([1,2,4,6,7,8,9])

In [78]:
len(ids)

7

In [79]:
ids.add(10)

In [80]:
ids

{1, 2, 4, 6, 7, 8, 9, 10}

In [83]:
ids.add(2)

In [82]:
ids

{1, 2, 4, 6, 7, 8, 9, 10}

In [84]:
#pop removes and returns first element
ids.pop()

1

In [85]:
ids.pop()

2

In [86]:
ids

{4, 6, 7, 8, 9, 10}

In [87]:
ids= set(range(10))

In [89]:
males= set([1,3,5,6,7])

In [90]:
females=ids-males

In [91]:
type(females)

set

In [92]:
females

{0, 2, 4, 8, 9}

In [93]:
#UNION
everyone= males|females

In [94]:
everyone

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [95]:
#INTERSECTION
everyone& set([1,2,3])

{1, 2, 3}

In [96]:
word="antidisestablishmentarianism"

In [98]:
#COUNTING THE UNIQUE LETTERS IN the STRING
letters=set(word)
len(letters)

12

In [99]:
#DICTIONARIES
#Keys mus be imutable and value can be anything
age={"Tim":29,"Jim":31,"Pam":27,"Sam":35}

In [101]:
age["Pam"]

27

In [104]:
age["Tim"]+=1

In [105]:
age["Tim"]

30

In [106]:
#type of returned object when you cal dict is called thr view object
names=age.keys()

In [107]:
type(names)

dict_keys

In [108]:
age["Tom"]=50

In [109]:
names
#the view object contains Tom although we didnt assign it again after the change was ade

dict_keys(['Tim', 'Jim', 'Pam', 'Sam', 'Tom'])

In [111]:
ages=age.values

In [113]:
age["Nick"]=31

In [114]:
#Testing object membership
"Tom" in age

True

In [115]:
"Kwaku" in age

False

KeyError: 0